<p appTextcolor>Showing {{ prodCount }} results for your search</p>
<div *ngFor="let mobPart of mobParts">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <!-- Interpollation
                <img src='{{ mobPart.product_img }}'/>-->
                <!--Property Binding-->
                <img [src]="mobPart.product_img" />
                <!--<img src='{{ mobPart }}' />-->
                <span class="card-title" style="color: orchid">{{ mobPart.name | uppercase }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p appTextcolor>Product Id: {{ mobPart.id }}</p>
                <p appTextcolor>Product Name:{{ mobPart.name | uppercase }}</p>
                <p>Product MRP:{{ mobPart.price | currency: "INR" }}</p>
                <p>
                    50% Offer Price: {{ mobPart.price | offer | currency: "INR" }}
                </p>
                <p *ngIf="mobPart.inStock > 0; else outOfStock">
                    Product Available:{{ mobPart.inStock }}
                </p>

                <ng-template #outOfStock>
                    <p>Out Of Stock</p>
                </ng-template>

                <p [ngSwitch]="mobPart.country">
                    Made In :
                    <img *ngSwitchCase="'Australia'"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/23px-Flag_of_Australia.svg.png"
                        width="24" />
                    <img *ngSwitchCase="'Germany'"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png"
                        width="24" />
                    <img *ngSwitchCase="'India'"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png"
                        width="24" />
                    <img *ngSwitchDefault
                        src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Japan.png"
                        width="24" />
                </p>
                <p align="center">
                    <button (click)="downCount(mobPart)">-</button>
                    {{mobPart.quantity}}
                    <!-- ngModel = two way Data Binding-> FormsModule-->

                    <input [(ngModel)]="mobPart.quantity" style="width: 60px; text-align: center" />
                    <button (click)="upCount(mobPart)">+</button>

                </p>
            </div>
        </div>
    </div>
</div>