
<div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./../../../assets/img/predator_laptop.jpg" />
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Laptops<i
                    class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Acer Pradator<i class="material-icons right">close</i></span>
            <p>
                Here is some more information about this product that is only revealed
                once clicked on.
            </p>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./../../../assets/img/laptop_thinkpad.jpg" />
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Laptops<i
                    class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Lenovo Thinkpad<i
                    class="material-icons right">close</i></span>
            <p>
                Here is some more information about this product that is only revealed
                once clicked on.
            </p>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./../../../assets/img/macbook_pro.jpg" />
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Laptops<i
                    class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Apple MacBook Pro<i
                    class="material-icons right">close</i></span>
            <p>
                Here is some more information about this product that is only revealed
                once clicked on.
            </p>
        </div>
    </div>
</div>
<!--
<div class="col s12 m4">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Laptop</span>
            <img src="../../../assets/img/laptop_thinkpad.jpg" />
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Laptop</span>
            <img src="../../../assets/img/macbook_pro.jpg" />
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Laptop</span>
            <img src="../../../assets/img/predator_laptop.jpg" />
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
-->