<div class="col s12 m4">
    <div class="card horizontal">
        <div class="card-image">
            <img src="../../../assets/img/elon_musk_book.jpg" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h1>Books</h1>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card horizontal">
        <div class="card-image">
            <img src="../../../assets/img/steve_jobs_book.jpg" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h1>Books</h1>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card horizontal">
        <div class="card-image">
            <img src="../../../assets/img/Alhemist_book.jpg" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h1>Books</h1>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>