/* You can add global styles to this file, and also import other style files
p {
  color: blue;
  font-size: 40px;
}*/

.prod-card {
  display: inline-block;
  border: 1px solid silver;
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  color: grey;
  font-size: 16px;
}
